[*.cs]

# IDE0210: Convert to top-level statements
csharp_style_prefer_top_level_statements = true

# CS0659: Type overrides Object.Equals(object o) but does not override Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = none
